[Unit]
Description=AIBackgroundWorker - Brave History Poller Timer
Requires=brave-history-poller.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target


