[Unit]
Description=Run AIBackgroundWorker Daily Report Generator at 00:40 (previous day)

[Timer]
OnCalendar=*-*-* 00:40:00
Persistent=true
Unit=info-report.service

[Install]
WantedBy=timers.target
